* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "devgothic";
  src: url(./font/devgothic.TTF);
}
ul {
  list-style: none;
}
.svg-size {
  width: 20px;
}

html,
body {
  margin: 0;
  font-family: devgothic;
}

.discount-header {
  background-color: black;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    letter-spacing: 1px;
    font-size: calc(0.6vw + 0.6vh);
  }
}

.padding-wrapper {
  padding: 1rem 1rem;
  header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 1.4rem;
    .header-box1 {
      width: 12vh;
      p {
        font-size: calc(1.3vw + 1vh);
      }
    }
    .header-box2 {
      ul {
        display: flex;
        gap: 2rem;
        font-size: calc(0.7vw + 0.7vh);
      }
    }
    .header-box3 {
      display: flex;
      gap: 0.5rem;
    }
    input {
      height: 4vh;
      padding-left: 1rem;
      border: 1px solid rgb(206, 205, 205);
      border-radius: 2rem;
    }
  }
}

.main-grid {
  display: grid;
  height: 90vh;
  width: 100%;
  margin-top: 1rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.6rem;

  .box1 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 2rem;
    h1 {
      font-size: calc(4vw + 4vh);
    }
    p {
      font-size: calc(1vw + 1vh);
    }
  }

  .box2 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(./icons/detachable-flap-fishing-hats-guts-fishing-apparel-31469015793730.webp)
        center/cover no-repeat;
    display: flex;
    align-items: end;
    padding: 1rem 2rem;
    border-radius: 2rem;
    p {
      font-size: calc(2vw + 1vh);
      color: white;
      letter-spacing: 1px;
    }
  }
  .box3 {
    width: 100%;
    height: 100%;
    grid-column: 3 / 5;
    grid-row: 5 / 7;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(./icons/hat2.webp) center/cover no-repeat;
    display: flex;
    align-items: end;
    padding: 1rem 2rem;
    border-radius: 2rem;
    p {
      font-size: calc(2vw + 1vh);
      color: white;
      letter-spacing: 1px;
    }
  }
  .box4 {
    width: 100%;
    height: 100%;
    grid-column: 5 / 8;
    grid-row: 1 / -1;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(./icons/hat3.webp) top/cover no-repeat;
    border-radius: 2rem;
    .box4-shop {
      width: 60%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      button {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.336);
        background: rgba(151, 151, 151, 0.295);
        font-size: calc(1vw + 1vh);
        font-family: devgothic;
        color: white;
      }
    }
    .box4-text {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 2rem 3rem;
      gap: 1rem;
      .input1 {
        position: relative;
        input {
          width: 24vh;
          height: 5vh;
          font-family: devgothic;
          padding-left: 1rem;
          border-radius: 2rem;
          border: none;
        }
        input::placeholder {
          font-size: calc(0.6vw + 1vh);
        }
        button {
          background-color: black;
          color: white;
          border-radius: 50%;
          height: 80%;
          aspect-ratio: 1;
          position: absolute;
          right: 0;
          transform: translateX(-15%);
          top: 10%;
        }
      }
      .input2 {
        position: relative;
        input {
          width: 24vh;
          height: 5vh;
          font-family: devgothic;
          padding-left: 1rem;
          border-radius: 2rem;
          border: 1px solid rgba(255, 255, 255, 0.301);
          background: transparent;
        }
        input::placeholder {
          color: white;
          font-size: calc(0.6vw + 1vh);
        }
        button {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border-radius: 50%;
          border: none;
          height: 80%;
          aspect-ratio: 1;
          position: absolute;
          right: 0;
          transform: translateX(-15%);
          top: 10%;
        }
      }
    }
  }
}
.section3 {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  div {
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 12rem;
  }
  p {
    font-size: calc(2vw + 3vh);
    letter-spacing: 3px;
    span {
      border: 1px solid;
      border-radius: 2rem;
      padding: 0.7rem;
    }
    span::before {
      content: "*";
    }
  }
  .bubbleimg1 {
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    top: 10rem;
    right: 60rem;
  }
  .bubbleimg2 {
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    bottom: 13rem;
    right: 21rem;
  }
  .bubbleimg3 {
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    bottom: 13rem;
  }
}
.section4 {
  width: 100%;
  height: 10vh;
  .section4-cat {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .section4-catbox1 {
      width: 15%;
      h1 {
        font-size: calc(2vw + 1vh);
        letter-spacing: 3px;
      }
    }
    .section4-catbox2 {
      height: 10vh;
      display: flex;
      align-items: flex-end;
      ul {
        display: flex;
        gap: 1rem;
        li button {
          height: 7vh;
          font-size: calc(2vw + 1vh);
          padding: 0 1rem;
          border-radius: 2rem;
          font-family: devgothic;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        li .color {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
.section5-grid {
  width: 100%;
  height: 110vh;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  h1 {
    font-size: calc(2.4vw + 1vh);
    padding: 0 1rem;
    margin-top: 1rem;
  }
  p {
    font-size: calc(1vw + 1vh);
    padding: 0 1rem;
    color: gray;
  }
  .gridbox1 {
    height: 100%;
  }
  .section5-gridbox1 {
    background: url(./icons/model1.webp) top/cover no-repeat;
    border-radius: 2rem;
    height: 80%;
    button {
      width: 15vh;
      height: 4vh;
      border-radius: 2rem;
      border: none;
      margin: 1rem 1rem;
      font-family: devgothic;
      font-size: calc(0.7vw + 1vh);
    }
  }
  .gridbox2 {
    height: 100%;
  }
  .section5-gridbox2 {
    height: 80%;
    background: url(./icons/model2.webp) top/cover no-repeat;
    border-radius: 2rem;
    button {
      width: 15vh;
      height: 4vh;
      border-radius: 2rem;
      border: none;
      color: orange;
      margin: 1rem 1rem;
      font-family: devgothic;
      font-size: calc(0.7vw + 1vh);
    }
  }
  .gridbox3 {
    height: 100%;
  }
  .section5-gridbox3 {
    height: 80%;
    background: url(./icons/model3.webp) top/cover no-repeat;
    border-radius: 2rem;
  }
  .gridbox4 {
    height: 100%;
  }
  .section5-gridbox4 {
    height: 80%;
    background: url(./icons/model4.avif) top/cover no-repeat;
    border-radius: 2rem;
  }
  .gridbox5 {
    height: 100%;
  }
  .section5-gridbox5 {
    height: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(./icons/model5.webp) top/cover no-repeat;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .btn1 {
      width: 15vh;
      height: 4vh;
      border-radius: 2rem;
      border: 1px solid gray;
      color: rgb(0, 0, 0);
      margin: 1rem 1rem;
      font-family: devgothic;
      font-size: calc(0.7vw + 1vh);
    }
    .btn2 {
      width: 15vh;
      height: 4vh;
      border-radius: 2rem;
      background-color: rgba(0, 0, 0, 0.267);
      border: 1px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      margin: 1rem 1rem;
      font-family: devgothic;
      font-size: calc(0.7vw + 1vh);
    }
  }
  .gridbox6 {
    height: 100%;
  }
  .section5-gridbox6 {
    height: 80%;
    background: url(./icons/model6.webp) top/cover no-repeat;
    border-radius: 2rem;
  }
}
.section6 {
  width: 100%;
  height: 90vh;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  .section6-img {
    width: 30%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(./icons/section6.webp) center/cover no-repeat;
    border-radius: 2rem;
  }
  .section6-green {
    width: 70%;
    height: 90vh;
    background-color: rgb(114, 133, 80);
    border-radius: 2rem;

    .section6-green-wrapper {
      width: 100%;
      height: 90vh;
      padding: 4rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .wh1 {
        font-size: calc(4.6vw + 4.4vh);
        letter-spacing: 4px;
      }
      .section6-green-border {
        width: 100%;
        height: 20vh;
        border: 1px solid rgba(58, 68, 41, 0.753);
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
        .greenbox1 {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h1 {
            font-size: calc(1.6vw + 1vh);
            display: flex;
            align-items: center;
            gap: 1rem;
            button {
              width: 5vh;
              height: 5vh;
              border-radius: 50%;
              border: none;
              color: white;
              background-color: black;
            }
          }

          p {
            font-size: calc(0.6vw + 1.2vh);
          }
        }
        .greenbox2 {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h1 {
            font-size: calc(1.6vw + 1vh);
            display: flex;
            align-items: center;
            gap: 1rem;
            button {
              width: 5vh;
              height: 5vh;
              border-radius: 50%;
              border: none;
              color: white;
              background-color: black;
            }
          }

          p {
            font-size: calc(0.6vw + 1.2vh);
          }
        }
      }
    }
  }
}
.section7 {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  h1 {
    font-size: calc(4vw + 4vh);
  }
  div {
    background: url(./icons/7section.jpg) top/cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    margin-top: 2rem;
  }
}

footer {
  margin-top: 2rem;
  background-color: black;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 2rem 2rem;
  .fbox1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
      font-size: calc(3vw + 3vh);
    }
    p {
      font-size: calc(0.7vw + 1vh);
    }
  }

  .fbox2 {
    width: 35%;
    display: flex;
    justify-content: space-around;
    h1 {
      font-size: calc(1vw + 1vh);
      margin-bottom: 2rem;
    }
    li {
      margin-top: 1rem;
      color: gray;
    }
  }
  .fbox3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: calc(1vw + 1vh);
      margin-bottom: 2rem;
    }
    .fbox3-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      input {
        width: 30vh;
        height: 5vh;
        background: transparent;
        border: 1px solid gray;
        border-radius: 2rem;
        padding: 1rem;
        color: white;
      }
      input::placeholder {
        color: gray;
      }
      button {
        width: 5vh;
        height: 5vh;
        font-size: 2vh;
        border-radius: 50%;
        position: absolute;
        transform: translateX(-90%);
        right: 3rem;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .discount-header p {
    font-size: 1rem;
  }
  .padding-wrapper {
    header .header-box1 p {
      font-size: 2rem;
    }
    header .header-box2 ul {
      font-size: 1rem;
    }
    .header-box3,
    .header-box3 input {
      display: none;
    }
  }
  .main-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .box1 {
      grid-column: 1 / 9;
      grid-row: 1 / 5;
      h1 {
        font-size: 8vh;
      }
      p {
        font-size: 3vh;
      }
    }
    .box2 {
      grid-column: 1 / 5;
      grid-row: 5 / 7;
    }
    .box3 {
      grid-column: 5 / 9;
      grid-row: 5/ 7;
    }
    .box4 {
      grid-column: 1 / 9;
      grid-row: 7 / 9;
      button {
        display: none;
      }
    }
  }
  .box4-text {
    .input1 button {
      display: inline;
    }
    .input2 button {
      display: inline;
    }
  }
  .section3 {
    height: 30vh;
    div {
      height: 30vh;
      padding: 0;
    }
    p {
      font-size: 3.2vh;
      line-height: 1.6rem;
      span {
        padding: 0.2rem;
      }
    }
    .bubbleimg1 {
      width: 5vh;
      height: 5vh;
      top: 3.5rem;
      left: 7rem;
    }
    .bubbleimg2 {
      width: 5vh;
      height: 5vh;
      bottom: 6rem;
      right: 8rem;
    }
    .bubbleimg3 {
      width: 5vh;
      height: 5vh;
      bottom: 5rem;
      left: 8rem;
    }
  }
  .section4 {
    .section4-cat {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .section4-cat .section4-catbox1 h1 {
      font-size: 2vh;
    }
    .section4-cat .section4-catbox2 ul li button {
      font-size: 2.4vh;
    }
  }
  .section5-grid {
    grid-template-columns: 1fr 1fr;
  }
  .section6 {
    width: 100%;
    height: 50vh;
    .section6-img {
      min-width: 40%;
      height: 50vh;
      background-size: cover;
    }
    .section6-green {
      min-width: 58%;
      height: 50vh;
      .section6-green-wrapper {
        height: 50vh;
        padding: 2rem 2rem;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        overflow: hidden;
        .wh1 {
          font-size: 4vh;
        }
        .section6-green-border {
          height: 35vh;
          flex-direction: column;
          justify-content: space-around;
          .greenbox1 {
            min-width: 100%;
            h1 {
              font-size: 1.4vh;
              letter-spacing: 1px;
              button {
                width: 2vh;
                height: 2vh;
              }
            }
            p {
              font-size: 1.6vh;
              letter-spacing: 1px;
            }
          }
          .greenbox2 {
            min-width: 100%;
            h1 {
              font-size: 1.4vh;
              letter-spacing: 2px;
              button {
                width: 2vh;
                height: 2vh;
              }
            }
            p {
              font-size: 1.6vh;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
  .section7 {
    height: 60vh;
  }
  footer {
    height: 60vh;
    flex-direction: column;
    align-items: center;
    .fbox1 {
      flex-direction: row;
      min-width: 100%;
      align-items: center;
      justify-content: center;
    }
    .fbox2 {
      min-width: 100%;
    }
    .fbox3 {
      min-width: 100%;
      align-items: center;
      h1 {
        font-size: 3vh;
      }
      .fbox3-input button {
        transform: translateX(100%);
      }
    }
  }
}
